.grid {
  position: relative;
  max-width: 80rem;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.pinContainer {
  margin: 10px 10px;
  /* grid-row-end: span ${(props) => props.spanHeight}; */
}

.loadingContainer{
    display: flex;
    justify-content: center;
}

.loading {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
